//$fa-font-path: '../fontawesome/webfonts';
@import "bootstrap";
html, body {
	font-family: Verdana, Arial, "Helvetica Neue";
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
h1 { font-size: 2.0rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }
a {
    color: #2563eb;
    text-decoration: none;
}
a:hover {
    color: red;
}
table {
    tr {
        td {
            &.table-action {
                white-space: nowrap;
            }
        }
    }
}
.btn {
    display: inline-block;
//    padding: 0;
    width: auto;
    border-radius: 5px;
    white-space: nowrap;
    i {
        margin: 0;
        padding: 0;
    }
    span {
        margin: 0;
        padding: 0;
    }
    :not( &.btn-sm) {
        @apply font-bold py-1 p-2;
    }
    &.btn-sm {
        @apply font-normal py-1 p-1;
        font-size: 0.9rem;
    }
    &.rounded {
        @apply rounded-full py-2 p-4;
    }
    &.btn-blue {
        @apply bg-blue-500 hover:bg-blue-700 text-white;
    }
    &.btn-green {
        background-color: #080;
        color: white;
//        @apply bg-green-500 hover:bg-green-700 text-white;
    }
    &.btn-red {
        background-color: #c00;
        color: white;
//        @apply bg-red-500 hover:bg-red-700 text-white;
    }
    &.btn-grey {
        @apply bg-gray-500 hover:bg-gray-700 text-white;
    }
}
